.accordion {
  width: 70%;
  margin: auto;
}

.btn-next {
  width: 150px;
}

.card {
  margin-top: 10px;
  border-left: 5px solid #e6e6e6 !important;
}

.new-border-color {
  border-left: 5px solid #007bff !important;
}

.fadeOut {
  -webkit-animation: fadeAnimation 1s;
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
