body {
  background-color: aliceblue !important;
}

.container {
  background: cornflowerblue;
}

.step {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: cyan;
}

.card {
  margin: auto;
  border-left: 5px solid blue !important;
}

.content {
  display: none;
}
button {
  margin-top: 30px;
}
.back {
  display: none;
}
.next {
  margin-left: 50px;
}
.end {
  display: none;
}

.btn__text-dynamic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  transition: all ease 2s;
}

.test1 {
  transform: translateX(100%);
}

.line {
  height: 6px !important;
}

.background-primary-color {
  background: purple;
}
